@model IEnumerable<CompanyManagement.Models.Staff>

<link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />

<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Staff Name
            </th>
            <th>
                Staff Surname
            </th>
            <th>
                Department Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffSurname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
            </tr>
        }
    </tbody>
</table>
<br />